
.login{
    padding: 0 100px;
}

.loginForm {
    text-align: center;
}

.loginImg img{
    width: 100%;
}

.loginForm form {
    margin: 0 auto;
    width: 450px;
    height: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginForm form div {
    width: 100%;
}

.loginForm .customInput {
    margin-top: 20px;
}

.loginForm input {
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color);
    font-weight: 400;
    width: 100%;
    border: 1px solid var(--border-color);
    padding: 8px 20px;
    border-radius: 5px;
}

.loginForm label {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 24px;
    color: var(--bg-color);
    font-weight: 400;
    display: block;
    text-align: left;
}

.customInput button.bg{
    width: 100%;
    padding: 8px;
    font-size: 16px;
    line-height: 24px;
    background: var(--red-color);
    border-radius: 5px;
}