@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
}

body :where(h1, h2, h3, h4, h5, h6, button, p, ul, li, a) {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body ul {
  margin: 0 !important;
  padding: 0 !important;
}

:root {
  --text-color: #888;
  --border-color: #ddd;
  --header-color: #253d4e;
  --bg-color: #000a23;
  --white-color: #fff;
  --red-color: #e53d3d;
}

.container {
  max-width: 100% !important;
  padding: 0 30px !important;
}

body h1 {
  font-size: 62px;
  line-height: 75px;
  color: var(--white-color);
  font-weight: 700;
}

body h2 {
  font-size: 25px;
  line-height: 35px;
  color: var(--header-color);
  font-weight: 700;
}

body h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: var(--header-color);
}

body p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-color);
}

body a {
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color);
  transition: all linear 0.2s;
  text-decoration: none;
  font-weight: 400;
  display: inline-block;
}

body a:hover {
  color: var(--bg-color);
}

body li.active a {
  color: var(--red-color);
  font-weight: 700;
}

body button {
  border: 0;
  padding: 6px 20px;
  font-size: 14px;
  line-height: 20px;
  background: var(--bg-color);
  color: var(--white-color);
  transition: all linear 0.2s;
}

body button.bg {
  background: var(--bg-color);
  color: var(--white-color);
  margin-top: 20px;
}

body button.bg:hover {
  background: var(--red-color);
}

.d_flex {
  display: flex;
  align-items: center;
}

.section-gaps {
  margin-top: 80px;
}

input:focus {
  outline: none;
}

.marTop {
  margin-top: 100px;
}

/* ---------------------------------------------------------------------------------------------------------------------- 
  banner
----------------------------------------------------------------------------------------------------------------------*/

.banner .swiper {
  padding: 0 !important;
}

.SecondBanner {
  height: 400px;
}

.SecondBanner img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.banner-item {
  height: 80vh;
  position: relative;
}

.banner-item::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.banner-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-content {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner-text h3 {
  font-size: 20px;
  color: var(--white-color);
}

.banner-text button {
  background: var(--white-color);
  color: var(--text-color);
}

.banner-text button:hover {
  background: var(--bg-color);
  color: var(--white-color);
}

.swiper-button-prev,
.swiper-button-next {
  width: 35px !important;
  height: 35px !important;
  background: var(--bg-color);
  line-height: 0;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px !important;
  color: var(--white-color);
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background: var(--text-color) !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--white-color) !important;
}

/* ---------------------------------------------------------------------------------------------------------------------- 
  marquee
----------------------------------------------------------------------------------------------------------------------*/
.marquee {
  background: #fafafa;
  height: 50px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.marquee ul {
  display: block;
  width: 200%;
  position: absolute;
  animation: marquee 50s linear infinite;
  margin: 0;
  padding: 0;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.marquee ul:hover {
  animation-play-state: paused;
}

.marquee li {
  display: inline-block;
}

.marquee li a {
  padding: 10px 30px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: var(--header-color);
}

/* ---------------------------------------------------------------------------------------------------------------------- 
  new-arrival
----------------------------------------------------------------------------------------------------------------------*/
.new-arrival .header {
  text-align: center;
}

.new-arrival .header a {
  border-bottom: 1px solid var(--border-color);
  margin-top: 5px;
  font-weight: 700;
}

.new-arrival .header a:hover {
  color: var(--bg-color);
  border-bottom: 1px solid var(--bg-color);
}

.new-arrival-slider {
  margin-top: 50px;
}

.new-arrival-item {
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  transition: all linear 0.2s;
}

.new-arrival-item:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.new-arrival-item img {
  width: 100%;
  transition: all linear 0.3s;
  transform: scale(1);
  border-radius: 5px;
  height: 300px;
  object-fit: cover;
}

.new-arrival-item:hover img {
  transform: scale(1.1);
}

.new-arrival-item .img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}

.new-arrival-item h4 {
  margin-top: 15px;
}

.new-arrival-item h4 a {
  font-size: 16px;
  font-weight: 700;
  color: var(--header-color);
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
  height: 40px;
}

.new-arrival-item h5 {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: var(--bg-color);
  margin-top: 5px;
}

.new-arrival-item h5 i {
  margin-left: 5px;
  margin-bottom: -5px;
}

.new-arrival-item .img .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: self-end;
  opacity: 0;
  transition: all linear 0.2s;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.new-arrival-item:hover .img .overlay {
  opacity: 1;
}

.new-arrival-item .img .overlay a {
  width: 100%;
  height: auto;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-weight: 700;
  background: var(--red-color);
  color: var(--white-color);
}

.new-arrival-item .img .overlay a:hover {
  background: var(--bg-color);
}

/* ---------------------------------------------------------------------------------------------------------------------- 
  client-review
----------------------------------------------------------------------------------------------------------------------*/
.client-review {
  padding: 0;
  padding-top: 50px;
  background: #fafafa;
  position: relative;
}

.client-review .swiper-backface-hidden .swiper-slide {
  transform: unset !important;
}

.client-review .swiper.swiper {
  padding: 50px 0 !important;
  padding-bottom: 100px !important;
}

.client-review-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.client-review-item h5 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--bg-color);
}

.client-review-item .left {
  width: 45%;
}

.client-review-item .right {
  width: 45%;
}

.client-review-item .star {
  margin-top: 5px;
}

.client-review-item .star i {
  font-size: 16px;
  margin-right: 5px;
}

.client-review-item p {
  font-size: 17px;
  padding: 15px 0;
  line-height: 30px;
}

.client-review-item h4 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: var(--text-color);
}

.client-review-item .right img {
  width: 100%;
}

.client-review .swiper-button-prev,
.client-review .swiper-button-next {
  position: absolute;
  bottom: 150px;
  left: 0;
  top: unset;
  background: var(--bg-color);
}

.client-review .swiper-button-prev:after,
.client-review .swiper-button-next:after {
  color: var(--white-color);
}

.client-review .swiper-button-next {
  left: 50px;
}

/* ---------------------------------------------------------------------------------------------------------------------- 
  blog
----------------------------------------------------------------------------------------------------------------------*/
.blog .header {
  margin-bottom: 10px;
}

.blog .header a {
  margin-top: 10px;
  text-decoration: underline;
  font-weight: 700;
}

.blog-item {
  background: var(--white-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
}

.blog-item .img {
  height: 250px;
}

.blog-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-item .text {
  margin-top: 20px;
}

.blog-item h5 {
  font-size: 14px;
  color: var(--text-color);
  font-weight: 400;
  line-height: 20px;
}

.blog-item h5 span {
  font-weight: 700;
}

.blog-item h3 {
  margin-top: 5px;
}

.blog-item h3 a {
  background: none;
  padding: 0;
  color: var(--red-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
  height: 30px;
}

.blog-item h3 a:hover {
  background: none;
  color: var(--bg-color);
}

.blog-item p {
  margin: 5px 0;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
  height: 45px;
}

.blog-item a {
  margin: 15px 0;
  padding: 10px 30px;
  background: var(--red-color);
  color: var(--white-color);
}

.blog-item a.blog_title {
  background: no-repeat;
  padding: 0;
}

.blog-item a:hover {
  background: var(--bg-color);
  color: var(--white-color);
}

.blog .swiper {
  padding: 5px !important;
}

/* ---------------------------------------------------------------------------------------------------------------------- 
  our-store
----------------------------------------------------------------------------------------------------------------------*/

.our-store {
  background: var(--bg-color);
  display: flex;
  align-items: center;
}

.our-store .left {
  width: 25%;
  padding: 0 50px;
  padding-left: 50px;
}

.our-store .middle {
  width: 30%;
}

.our-store .right {
  width: 45%;
}

.our-store :where(h3, p, li) {
  color: var(--white-color);
}

.our-store p {
  padding: 10px 0;
  font-size: 14px;
  line-height: 20px;
}

.our-store li {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

.our-store li:last-child {
  margin-bottom: 0;
}

.our-store .left a {
  background: var(--white-color);
  padding: 8px 30px;
  color: var(--header-color);
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
}

.our-store .left a:hover {
  background: var(--red-color);
  color: var(--white-color);
}

.our-store .left a i {
  font-size: 16px;
  margin-right: 10px;
}

.our-store img {
  width: 100%;
}

/* ---------------------------------------------------------------------------------------------------------------------- 
  page-new-arrival 
----------------------------------------------------------------------------------------------------------------------*/

.other-banner {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 30px;
}

.other-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.other-banner::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.other-banner .header {
  position: absolute;
  z-index: 9;
}

.other-banner h2 {
  color: var(--white-color);
  font-size: 60px;
  line-height: 60px;
}

.page-new-arrival .new-arrival-item {
  margin-top: 50px;
}

.other-banner button a {
  font-size: 16px;
  line-height: 24px;
  color: var(--white-color);
}

/* ---------------------------------------------------------------------------------------------------------------------- 
  page-our-community
----------------------------------------------------------------------------------------------------------------------*/

.page-our-community .about {
  text-align: center;
}

.page-our-community .about h3 {
  font-size: 30px;
  margin: 30px 0;
}

.page-our-community .about p {
  font-size: 14px;
  line-height: 30px;
}

.our-history {
  margin: 80px 0;
  padding: 0 100px;
}

.our-history .row {
  --bs-gutter-x: 100px;
}

.our-history img {
  width: 100%;
}

.our-history h3 {
  font-size: 30px;
  line-height: 45px;
}

.our-history p {
  margin-top: 20px;
  line-height: 30px;
}

/* ---------------------------------------------------------------------------------------------------------------------- 
  contact-us
----------------------------------------------------------------------------------------------------------------------*/
.contact-us .container {
  padding: 0 100px !important;
}

.contact-us .contact-us-img img {
  width: 100%;
}

.contact-us-form {
  margin-top: 100px;
}

.contact-us-form .custom-input {
  margin-bottom: 20px;
  margin-left: 100px;
}

.contact-us-form label {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 24px;
  color: var(--bg-color);
  font-weight: 400;
}

:where(input, textarea, select) {
  font-size: 14px;
  line-height: 24px;
  color: var(--text-color);
  font-weight: 400;
  width: 100%;
  border: 1px solid var(--border-color);
  padding: 8px 20px;
  border-radius: 10px;
}

.contact-us-form button.bg {
  margin-top: 0;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
  background: var(--red-color);
  border-radius: 5px;
}

.contact-us-form button.bg:hover {
  background: var(--bg-color);
}

/* ---------------------------------------------------------------------------------------------------------------------- 
  blog-details
----------------------------------------------------------------------------------------------------------------------*/

.blog-details {
  margin-top: 50px;
}

.blog-details h2 {
  color: var(--header-color);
  font-size: 40px;
  line-height: 55px;
}

.blog-details h5 {
  font-size: 15px;
  line-height: 24px;
  margin-top: 10px;
  font-weight: 700;
  color: var(--red-color);
}

.blog-details img {
  width: 100%;
  max-height: 700px;
  object-fit: cover;
  margin: 20px 0;
  border-radius: 10px;
}

.blog-details p {
  margin-top: 20px;
  line-height: 30px;
}

.related-blog {
  margin-top: 40px;
}

.related-blog h3 {
  font-size: 30px;
  line-height: 45px;
}

.related-blog h4 {
  font-size: 20px;
  line-height: 30px;
  color: var(--text-color);
}

/* ---------------------------------------------------------------------------------------------------------------------- 
  page-product-details
----------------------------------------------------------------------------------------------------------------------*/
.page-product-details {
  padding: 0 100px;
  margin-top: 130px;
}

.page-product-details .row {
  --bs-gutter-x: 50px;
}

.related-blog .row {
  --bs-gutter-x: 30px;
}

.page-product-details .image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 60px !important;
  width: 40px !important;
}

.product-description h6 {
  font-size: 12px;
  background: var(--red-color);
  color: var(--white-color);
  padding: 6px 20px;
  border-radius: 30px;
  display: inline-block;
}

.product-description h2 {
  margin: 10px 0;
}

.product-description .star i {
  color: #f2b23e;
  margin-right: 5px;
}

.product-description h3 {
  font-size: 40px;
  line-height: 55px;
  margin: 10px 0;
  color: var(--red-color);
}

.product-description h3 del {
  margin-left: 5px;
  color: var(--text-color);
  font-size: 30px;
}

.Cart input {
  width: 150px;
  padding: 8px 10px;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
}

.page-product-details .Cart {
  margin-top: 20px;
}

.page-product-details .Cart button {
  margin-right: 20px;
  border-radius: 8px;
  padding: 11px 30px;
  background: var(--red-color);
  display: flex;
  align-items: center;
}

.page-product-details .Cart button i {
  margin-right: 10px;
  font-size: 16px;
  margin-bottom: -2px;
}

.Cart .custom-input {
  position: relative;
}

.Cart :where(.increment, .decrement) {
  color: var(--white-color);
  background: var(--text-color);
  display: inline-block;
  border-radius: 5px;
  position: absolute;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  transition: all linear 0.2s;
}

.Cart :where(.increment, .decrement):hover {
  background: var(--bg-color);
}

.Cart :where(.increment, .decrement) i {
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
}

.Cart .increment {
  right: 10px;
}

.Cart .decrement {
  left: 10px;
}

.page-product-details .color {
  margin-top: 20px;
}

.page-product-details .color li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #010101;
  display: inline-block;
  margin-right: 10px;
  margin-top: 5px;
}

.page-product-details .color li:nth-child(2) {
  background: #e53d3d;
}

.page-product-details .color li:nth-child(3) {
  background: #fd9173;
}

/* product-tabs */
.product-tabs {
  margin-top: 50px;
}

.product-tabs .nav-tabs {
  border-bottom: 0;
  border-top: 1px solid var(--border-color);
  justify-content: center;
}

.product-tabs .nav-tabs .nav-link {
  border: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: var(--header-color);
  position: relative;
  padding: 10px 20px;
  margin: 0 10px;
}

.product-tabs .nav-tabs .nav-link::after {
  position: absolute;
  content: "";
  top: -2px;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--red-color);
  opacity: 0;
}

.product-tabs .nav-tabs .nav-link.active {
  color: var(--red-color);
}

.product-tabs .nav-tabs .nav-link.active::after {
  opacity: 1;
}

.product-tabs p {
  line-height: 30px;
}

.product-tabs ul {
  margin: 15px 0;
}

.product-tabs .tab-description li {
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color);
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}

.product-tabs .tab-description li:after {
  position: absolute;
  content: "";
  top: 6px;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--bg-color);
}

.page-product-details .new-arrival-item {
  margin-top: 30px;
}

.tab-description.review {
  text-align: center;
}

.tab-description.review h3 {
  color: var(--red-color);
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
}

.tab-description.review .RivewRating {
  margin-top: 15px;
  margin-bottom: 30px;
}

.tab-description.review .RivewRating svg {
  font-size: 30px;
  cursor: pointer;
  color: #f2b23e;
}

/* best-selling-finter */
.best-selling-finter {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.best-selling-finter h4 {
  font-size: 20px;
  line-height: 30px;
  color: var(--red-color);
  font-weight: 700;
}

.best-selling-finter select {
  width: auto;
}

/* ---------------------------------------------------------------------------------------------------------------------- 
  check-out
----------------------------------------------------------------------------------------------------------------------*/
.check-out {
  padding: 0 50px;
}

.check-out .table {
  margin-top: 30px;
}

.check-out table {
  width: 100%;
}

.check-out table th {
  border-bottom: 2px solid var(--bg-color);
}

.check-out table :where(th, td) {
  font-size: 16px;
  line-height: 24px;
  color: var(--header-color);
  font-weight: 700;
  padding: 10px 20px;
}

.check-out table td {
  color: var(--text-color);
  font-weight: 400;
  border-bottom: 1px solid var(--border-color);
}

.check-out table td .img {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid var(--border-color);
  margin-right: 10px;
}

.check-out table td img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.check-out table td :where(h3, h4) {
  font-size: 25px;
  line-height: 35px;
  color: var(--bg-color);
  display: flex;
  align-items: center;
  font-weight: 700;
}

.check-out table td h3 i {
  margin-bottom: -10px;
  margin-left: 5px;
}

.check-out table td h4 {
  color: var(--text-color);
  font-size: 20px;
  line-height: 35px;
}

.check-out table td h4 i {
  margin-bottom: -8px;
}

.check-out table td .close i {
  font-size: 35px;
  cursor: pointer;
  color: var(--red-color);
}

.customer-address {
  margin-top: 50px;
}

.customer-address .custom-input {
  margin-bottom: 20px;
}

.customer-address .custom-input input {
  padding: 12px 20px;
}

.customer-address button {
  width: 100%;
  padding: 12px;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.customer-address button:hover {
  background: var(--red-color);
}

.customer-address button span {
  margin-left: 10px;
  font-size: 25px;
  font-weight: 700;
}

.customer-address button i {
  margin-bottom: -5px;
}

.customer-address h3 {
  margin-bottom: 20px;
}

/* ---------------------------------------------------------------------------------------------------------------------- 
  swiper
----------------------------------------------------------------------------------------------------------------------*/

.swiper {
  padding: 10px 0 !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 25px) !important;
}

/* ---------------------------------------------------------------------------------------------------------------------- 
  scroll top
----------------------------------------------------------------------------------------------------------------------*/
.scroll-to-top {
  right: 20px !important;
  bottom: 20px !important;
  display: grid;
  align-items: center;
  justify-content: center;
  background: var(--red-color) !important;
}

.scroll-to-top svg {
  height: 20px;
}

.scroll-to-top path {
  fill: var(--white-color);
}

/* ---------------------------------------------------------------------------------------------------------------------- 
  Newsletter
----------------------------------------------------------------------------------------------------------------------*/
.Newsletter {
  background: #c8e7e0;
  padding: 80px 0;
}

.Newsletter-Content {
  text-align: center;
}

.Newsletter-Content p {
  margin-top: 10px;
}

.Newsletter-Content .custom-input {
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}

.Newsletter-Content .custom-input button {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 10px 10px 0;
  padding: 9px 30px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.Newsletter-Content .custom-input button:hover {
  background: var(--red-color);
}
